* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Arial', sans-serif;
}

.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: url('../public/fotor-ai-202409251523.jpg');
  color: white;
  background-size: 110%; /* Pour couvrir tout l'écran */
  background-position: center; /* Centrer l'image */
  padding-top: 10%;
  padding-bottom: 20%;
}

.quote-container {
  text-align: center;
  max-width: 90%;
  padding: 20px;
  background-color: rgba(255, 181, 32, 0.95);
  border-radius: 10px;
}

.quote {
  font-size: 2rem;
  font-weight: bold;
}

.date-container {
  text-align: center;
  max-width: 90%;
  padding: 20px;
  background-color: rgba(255, 181, 32, 0.95);
  border-radius: 10px;
}

.dateDisplay{
  font-size: 2rem;
  font-weight: bold;
}

/* Responsive design */
@media (max-width: 900px) {
  .quote {
    font-size: 1.5rem;
  }
  .dateDisplay{
    font-size: 1.5rem;
  }
  .App {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url('../public/fotor-ai-202409251523.jpg');
    color: white;
    background-size: 110%; /* Pour couvrir tout l'écran */
    background-position: center; /* Centrer l'image */
    padding-top: 20%;
    padding-bottom: 20%;
  }
}

@media (max-width: 480px) {
  .quote {
    font-size: 1.2rem;
  }
  .dateDisplay{
    font-size: 1.2rem;
  }
  .App {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url('../public/fotor-ai-202409251523.jpg');
    color: white;
    background-size: 140%; /* Pour couvrir tout l'écran */
    background-position: center; /* Centrer l'image */
    padding-top: 50%;
    padding-bottom: 50%;
  }
}
